<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>test_pages</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <error-page>
  		<error-code>404</error-code>
  		<location>/error.html</location>
  </error-page>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.clientdb.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.clientdb.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>/com.clientdb.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPass</servlet-name>
    <servlet-class>com.clientdb.PasswordReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPass</servlet-name>
    <url-pattern>/Reset.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdmin</servlet-name>
    <servlet-class>com.admin.UserAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdmin</servlet-name>
    <url-pattern>/UserAdmin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.admin.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.admin.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataUpdate</servlet-name>
    <servlet-class>com.data.DataUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataUpdate</servlet-name>
    <url-pattern>/DataUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataCreate</servlet-name>
    <servlet-class>com.data.DataCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataCreate</servlet-name>
    <url-pattern>/DataCreate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyDataDetails</servlet-name>
    <servlet-class>com.data.CompanyDataDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDataDetails</servlet-name>
    <url-pattern>/CompanyDataDetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>ContactsUpdate</servlet-name>
  		<servlet-class>com.data.ContactsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ContactsUpdate</servlet-name>
  		<url-pattern>/ContactsUpdate.do</url-pattern>
  </servlet-mapping>
</web-app>